:root{
  --primery-text-color: #434455;
  --title-text-color: #2E2F42;
  --background-color: #E5E5E5;
}

.body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-visual {
  color: #2e2f42;
}

.menu {
  list-style: none;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-link {
  text-decoration: none;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #434455;
}

.menu-link:active {
  color: #4d5ae5;
}

.header-contact {
  list-style: none;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-mail,
.header-phone {
  text-decoration: none;
  color: #434455;
}

.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: #4d5ae5;
}



.title {
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: goldenrod;
}

.secondary-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.primery-buttom {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.primery-buttom:hover,
.primery-buttom:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}

.primery-buttom:active {
  color: #ffffff;
  background-color: #404bbf;
}

.work-list-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.work-list-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.people-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.people-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color: #E7E9FC; */
  color: red;
}

/* portfolio */

.gallery-buttom-list {
  list-style: none;
}

.gallery-buttom {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.gallery-buttom:hover,
.gallery-buttom:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}

.gallery-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.gallery-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}


